profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'short'  // Replace 'your_queue' with the actual queue/partition name
            time = '12h'          // Adjust as needed
            cpus = 4              // Adjust as needed
            memory = '8GB'        // Adjust as needed
        }
    }
}
